# Ignore Python cache directories
__pycache__/
*/__pycache__/

# Ignore compiled Python files
*.py[cod]
*.pyc
/test_deepFace/imgs_db
.venv
*.pth
checkpoints/
/runs
*.png
*.h5
*.csv
/Code/data/imgs_db/train
/Code/data/imgs_db/test
/test_deepFace/modules/__pycache__
