# Ignore Python cache directories
__pycache__/
*/__pycache__/

# Ignore compiled Python files
*.py[cod]
*.pyc
/test_deepFace/imgs_db
.venv
test_deepFace/models/faceflex_cvae.pth
checkpoints/
/runs
*.png
*.h5
*.csv
